.page1 {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 24, 39, 1);
    color: white;
    position: fixed;
    cursor: default;
    z-index: 100;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);

    @media (max-width: 450px) {
        width: 100%;
    }
}

.apart {
    font-size: 14px;
    width: 33vw;

    @media (max-width: 450px) {
        font-size: 11px;
        margin-left: 22px;
    }
}

.links a {
    text-decoration: none;
    color: rgba(156, 163, 175, 1);
    font-size: 24px ;
    margin: 22px;

    @media(max-width: 450px){
        font-size: 18px;
    }
}

.links a:hover  {
    color: white;
}