.page4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;

    height: 48vh;
    

    @media only screen and (min-width:400px) and (max-width:477px){
        min-width: 100%;
        height: 42vh;
    }

    @media (max-width:399px) {
        min-width: 100%;
        height: 42vh;
    }
}

.page4 a {
    font-size: 38px;
    text-decoration: none;
    color: black;
}

@media only screen and (min-width:400px) and (max-width:477px){
    .page4 a {
        font-size: 46px;
    }
}

.page4 a:hover {
    font-size: 46px;
    transition: 0.2s;
    color: rgba(234, 179, 8, 1); 
}

.page4 h1 {
    font-size: 46px;
    margin-top: 40px;
    margin-bottom: 22px;
    color: rgba(234, 179, 8, 1);
}

.conts {
    width: 30%;
    height: 40%;
    padding: 2rem;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media only screen and (max-width:477px){
    .conts {
        width: 80%;
    }
}

